.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.photo-card {
    width: calc((100% - (30px * 3)) / 4);
    height: auto;


}

.photo-card:not(:nth-child(4n)) {
    margin-right: 30px;
}
.search-form {
    display: block;
    text-align: center;
}

.js-more-btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.gallery {
    margin-top: 25px;
    padding: 0;
}